* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

#_header{
    max-width: 96%;
    height: 150px;
    padding: 10px;
    overflow: hidden;
    position: relative;
    margin: 2%;
    border-radius: 15px;
    left: 1%;
}

.p__1 {
    color: rgb(43, 42, 0);
    font: 400 1em/1.5 "Neuton";
    background: black; 
    color: #ad5312cd;
    text-align:center;
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	border: 4px double #ad5312cd;
	border-width: 4px 0;
	position: relative;
    width:96%;
    border-radius: 15px
}
  
header .p__1 span {

  	font: 700 4em/1 "Oswald", sans-serif;
  	letter-spacing: 0;
  	padding: .25em 0 .325em;
	  display: block;
	  margin: 0 auto;
      border-radius: 15px
}

.intro{
    align-self: center;
    
    max-width: 96%;
    width:91%;
    margin-left:3.5%;
    margin-bottom: 2%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.intro1{
    color: #ad5312cd;
    background-color: black;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    margin-left: 7%;
    margin-right: 80px;
}

.formulario{
    max-width: 50%;
    max-height: 20%;
    margin-top: 10%;
    color: #ad5312cd;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    margin-left: 4%;
}

.form_nom{
    border-color: #ad5312cd;
    padding: 3px;
    color: #ad5312cd;
    margin-bottom: 3%;
}

.form_ap{
    border-color: #ad5312cd;
    padding: 3px;
    color: #ad5312cd;
    margin-bottom: 3%;
}

.form_mail{
    border-color: #ad5312cd;
    padding: 3px;
    color: #ad5312cd;
    margin-bottom: 3%;
}

.forma_contacto{
    max-width: 50%;
    max-height: 12%;
    width:30%;
    margin-top: 5%;
    margin-bottom: 5%;
    color: #ad5312cd;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    margin-left: 4%;
    text-align: left;
}

.datos1{
    margin: 2% 0 9% 0;
}

.datos2{
    margin: 2% 0 1% 2%;
}

.datos3{
    margin: 2% 0 1% 2%;
}

.datos4{
    margin: 2% 0 1% 2%;
}

.caja{
    max-width: 50%;
    max-height: 20%;
    margin-top: 10%;
    color: #ad5312cd;
    font-family: 'Raleway', sans-serif;
    font-size: large;
    margin-left: 1%;
}

.caja_datos{
    max-width: 30%;
}

.telefono{
    text-align: right;
    
}

.mail{
    text-align: right;
    
}

.whatsapp{
    text-align: right;
    
}

.caja{
    margin-left: 4%;
}
.titulo_caja{
   padding-bottom: 1%;
}

.caja_coment{
    resize: none;
    font-style:normal;
    color: #ad5312cd;
    border-color: #ad5312cd;
}

.botones{
    margin-left: 4%;
}

.enviar{
    border: none;
    border-radius: 2px;
    padding: 4px;
    background-color: #ad5312cd;
    font-size: 16px;
    cursor: pointer;
    color: black;
    width: 5%;
}

.cancelar{
    border: none;
    border-radius: 2px;
    padding: 4px;
    background-color: #ad5312cd;
    font-size: 16px;
    cursor: pointer;
    color: black;
    width: 5%;
}

.enviar:hover{
    background-color: white;
    font-weight: bolder;
    transition: 450ms;
}

.cancelar:hover{
    background-color: white;
    font-weight: bolder;
    transition: 450ms;
}

/*volver a pagina principal*/
.menu_principal{
    margin: 5% 0 0 12%;
    width: 16%;
    font-family: 'Raleway', sans-serif;

}

.boton_volver{
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Raleway', sans-serif;

}

.volver{
    text-decoration: none;
    color: #ad5312;
    border-radius: 2px;
    padding: 12px;
    font-family: 'Raleway', sans-serif;
}

.volver:hover{
    background-color:#ad5312;
    font-weight: bolder;
    color: black;
    cursor:pointer;
    transition: 350ms;
}

/*footer*/
.pie{
    margin-top: 10%;
    width: 100%;
    background-color: black;
    font-family:'Raleway', sans-serif;
}

.pie .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
    height: 100px;

}

.pie .grupo-1 .box figure{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pie .grupo-1 .box figure a img{
    width: 150px;
    padding-bottom: 50px;
}

.pie .grupo-1 .box h2{
    color:#ad5312cd;
    margin-bottom: 25px;
    font-size: 10px;
    text-align: center;
}

.pie .grupo-1 .box p{
    color: #ad5312cd;
    margin-bottom: 10px;
    font-size: 10px;
    text-align: center;
}

.pie .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #ad5312cd;
    margin-right: 10px;
    background-color: black;
    text-align: center;
    transition: all 3ms ease;
}

.pie .grupo-1 .red-social a:hover{
    color: black;
    background-color: #ad5312cd;
}

.pie .grupo-2{
    background-color: black;
    padding: 15px 10px;
    text-align: center;
    color: #ad5312cd;
}

.pie .grupo-2 small{
    font-size: 10px;
}

@media screen and (max-width:800px){
    .pie .grupo-1{
        width:100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap:50px;
        padding: 25px 0px;
    }
}